*{
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before, *:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
} 
/* меняет подсчетдлины блока так чтобыудобно верстать */

:focus, :active{outline: none;}
a:focus,a:active{outline: none;}
/* убирает лининии обводки на неккоторых браузерах */

nav,footer,header,aside{display: block;}
/* дулает эти теги блочными  */

html,body{
   height: 100%;
   width: 100%;
   font-family: 'Inter', sans-serif;  
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
/* уравнтваем поведение шоифтов на разных платформах и браузерах, заприщает самовольное увеличение шрифта  */

input,button,textarea{font-size: inherit;}
/* просим их наследовать семейство шрифта так как по умолчаниюони не неследуют */
input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul il{list-style: none;}
li{ list-style-type: none;}

img{vertical-align: top;}
/* разные теги чтобыпо одинаковому в разных браузерах смотрелись */

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/* обнуляем все наши заголовки */

.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.container{
   max-width: 1250px;
   margin: 0 auto;
   padding: 0px 15px;
}

.main{
   flex: 1 1 auto;
}

.header {
   background: #EDF2EC;

}
.header__container {
   display: flex;
    min-height: 134px;
   justify-content: space-between;
   align-items: center;
}
.header__logo {

}
.logo { 
     display: flex;
  
}
.logo__icon {
   display: block;

}
.logo__text {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
}
.header__nav {
  display: flex;

  
}
.nav {
}
.nav__list {
   display: flex;
    
}
.nav__item:not(:last-child){
  margin-right: 46px;
}
.nav__item {
   font-family: 'Inika';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   
}
.nav__item a{
   color: #010201;
}
.nav__item a:hover{
   color: #E06733;
}

/* *****************welcome************* */
.welcome {
   background: #EDF2EC;

}
.welcome__container {
   display: flex;
   justify-content: space-between;
   min-height: 532px;
   padding: 74px 0px 94px 0px;
}

.welcome__content {
   max-width: 536px;
}
.descrip {
   margin-top: 36px;
   font-weight: 700;
   font-size: 45px;
   line-height: 50px;
   color: #717171;
}
.descrip span{
   color: #499A18;
}
.welcome__text {
   margin-top: 42px;
   font-weight: 400;
   font-size: 20px;
   line-height: 175%;
   color: #636060;
}
.welcome__btn {
   margin-top: 48px;
   width: 158px;
   height: 44px;
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #000000;
   border: 2px solid #E06733;
   border-radius: 10px;
}

.welcome__btn:hover{
   color: #FFFFFF;
   background: #E06733;
}

/* ******************ABOUT************ */

.about {
}
.about__container {
   display: flex;
   justify-content: space-between;
   margin-top: 93px;
}

.about__content {
   flex: 1 1 50%;

}
.title {
   font-family: 'Inika';
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   color: #499A18;
   margin-top: 27px;
  
}

.title span{
   color: #E06733;
}
.about__text {
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #636060;
   margin-top: 40px;

}